services:
  api:
    build: .
    ports:
      - "8081:8080"
    env_file:
      - .env
    depends_on:
      - redis
    volumes:
      - ${MEDIA_ROOT:-./media}:/var/www/rst-media

  redis:
    image: redis:alpine
    command: redis-server --requirepass ${REDIS_PASSWORD}
    env_file:
      - .env
    expose:
      - 6379
